:root {
  --primary: #FF8B37;
  --primary-dark: #E87928;
  --primary-light: #FFAC70;
  --primary-lighter: #FFF3EB;

  --success: #47D867;
  --success-light: #E6FAEA;

  --error: #EC6259;
  --error-light: #FDEEED;

  --dark: #1C1C21;
  --grey: #D0D0D8;
  --grey-light: #F5F5F7;
  --white: #fff;
}