.root {
  display: flex;
  height: 100vh;
  background: var(--white);
  background: linear-gradient(to right bottom, var(--white) 50%, var(--primary-lighter) 50%);

  &_result {
    background: var(--grey-light);
  }

  .inner {
    display: flex;
    flex: 1;
    margin: auto;
    align-items: center;

    @media screen and (max-width: 960px) {
      & {
        flex-direction: column;
      }
    }

    > div {
      flex: 1;
      padding: 0 50px;

      @media screen and (max-width: 960px) {
        & {
          padding: 0 16px;
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            text-align: center;
          }
        }
      }

      &:first-child {
        display: flex;
        justify-content: center;
      }

      img {
        height: 370px;

        @media screen and (max-width: 960px) {
          & {
            width: 200px;
            height: auto;
            margin-bottom: 42px;
          }
        }
      }

      .gap {
        height: 64px;
      }

      p {
        font-size: 56px;
        line-height: 116%;

        @media screen and (max-width: 960px) {
          & {
            font-size: 32px;
          }
        }
      }

      .label {
        opacity: .5;
        font-size: 32px;

        @media screen and (max-width: 960px) {
          & {
            font-size: 18px;
          }
        }
      }
    }
  }
}